
body {
	
	text-align: center;
	padding: 0 40px;
	background-color: var(--window);
	
	header {
		
		height: 30px;
		-webkit-app-region: drag;
	}
	
	main {
		
		padding-bottom: 20px;
		
		figure {
			
			width: 128px;
			height: 128px;
			margin: 10px auto 20px;
			
			img {
				
				display: block;
			}
		}
		
		h1 {
			
			font-size: 14px;
			margin-bottom: 10px;
			
			#version {
				
				font-size: 11px;
				color: var(--text);
				font-weight: 400;
				padding-left: 10px;
			}
		}
		
		p {
			
			font-size: 11px;
			font-weight: 400;
			color: var(--text);
		}
	}
	
	footer {
		
		table {
			
			margin: 0 auto;
			font-size: 10px;
			line-height: 14px;
			font-weight: 400;
			color: var(--text);
			
			th,
			td {
				padding: 0 4px;
			}
			
			th {
				
				text-align: right;
			}
			
			td {
				
				text-align: left;
			}
			
			tfoot {
				
				button {
					
					display: block;
					width: auto;
					height: 21px;
					line-height: 11px;
					margin: 10px auto 0;
				}
			}
		}
	}
}
