
body {
	
	background: transparent var(--grid) repeat left 40px top 47px;
}

header {
	
	-webkit-app-region: drag;
	
	text-align: center;
	height: 23px;
	margin-bottom: 24px;
	
	background: var(--header);
	background-size: 100% 23px;
	background-position: left top;
	border-bottom: 1px solid var(--header-border);
	
	h1 {
		
		font-size: 13px;
		font-weight: 500;
		line-height: 22px;
	}
}

main {
	
	width: 820px;
	height: 620px;
	background: transparent var(--window) no-repeat left top;
	
	.icon-view {
		
		width: 532px;
		height: 558px;
		margin-left: 40px;
		float: left;
		position: relative;
		
		#size {
			
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			
			color: var(--text);
			text-align: center;
			font-family: 'Menlo', monospace;
			font-size: 11px;
			font-weight: 200;
			background-color: transparent;
			
			&.alert {
				
				color: var(--text);
				
				&::before {
					
					content: '';
					display: inline-block;
					width: 14px;
					height: 13px;
					vertical-align: -1px;
					margin-right: 5px;
					background: var(--alert) no-repeat center;
				}
			}
		}
	
		#icon {
			
			width: 512px;
			height: 512px;
			position: absolute;
			top: 10px;
			left: 10px;
			z-index: 0;
		}
		
		#dropzone {
			
			position: absolute;
			top: 0;
			left: 0;
			width: 532px;
			height: 532px;
			border-radius: 10px;
			background-image: none;
			background-repeat: no-repeat;
			background-position: center center;
			opacity: 0;
			z-index: 1;
			transition: opacity .15s ease-in-out;
			
			&.hover {
				
				background-image: var(--drop);
				opacity: .8;
			}
		}
	}
	
	.form {
		
		padding: 0 30px 0 20px;
		width: 248px;
		height: 532px;
		float: right;
		
		font-weight: 600;
		
		position: relative;
		
		label {
			
			display: block;
			font-size: 13px;
			padding-bottom: 10px;
			
			&:not(:first-of-type) {
			
				padding-top: 10px;
				border-top: 1px solid var(--line);
			}
			
			input { border-radius: 50%; }
		}
		
		table {
			
			display: none;
			width: 80%;
			margin: 5px 0  5px 18px;
			font-family: 'Menlo', monospace;
			font-size: 11px;
			line-height: 11px;
			color: var(--green);
			position: relative;
			
			td {
				
				padding: 2px 4px;
				
				&:last-child { color: var(--purple); }
			}
		}
		
		#preview-box {
			
			width: 138px;
			height: 138px;
			padding: 5px;
			position: absolute;
			bottom: 50px;
			left: 49px;
			border-radius: 4px;
			
			.preview {
				
				width: 128px;
				height: 128px;
			}
			
			&.active {
					
				background: rgba(0,0,0,.06);
				box-shadow: inset 0 1px 0 rgba(0,0,0,.08);
			}
		}
		
		#sizes {
			
			width: 256px;
		}
		
		datalist {
			
			display: flex;
			justify-content: space-between;
			
			option {
				
				font-size: 10px;
			}
		}
		
		#generate {
			
			display: block;
			width: 196px;
			height: 21px;
			position: absolute;
			bottom: 0;
		}
	}
}


[data-theme^="dark"] {
	
	main {
		
		.form {
			
			#preview-box {
			
				&.active {
					
					background: rgba(255,255,255,.06);
					border: 1px solid rgba(255,255,255,.08);
				}
			}
		}
	}
}
