
:root {
	
	--header:			linear-gradient(#edeced, #d2d1d2) no-repeat border-box;
	--header-border:	#b7b4b7;
	--text:				rgba(0,0,0,.73);
	--back: 			#ECECEC;
	--line:				rgba(0,0,0,.15);
	--window:			rgb(240,239,240);
	--modal:			rgba(240,239,240,.95);
	
	--green:			#009B33;
	--purple:			#8100FF;
}


[data-theme^="dark"] {
	
	--header:			linear-gradient(#4b4b4b, #3d3d3d) no-repeat border-box;
	--header-border:	#000000;
	--text:				rgba(255,255,255,.85);
	--back:				rgb(50, 51, 53);
	--line:				rgba(255,255,255,.15);
	--window:			rgb(48,48,48);
	--modal:			rgba(48,48,48,.95);
	
	--green:			#01F952;
	--purple:			#D02FFF;
}



$text: 			#fff;
$background: 	#031320;
$light: 		#fff;
$dark: 			#b6b6b6;
$transparency: 	.2;
$focus:			#34C0F9;
$iconsize:		#01F952;
$iconres:		#7F37C5;


@mixin clearfix {
	
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	
	&:after {
		clear: both;
	}
}
